[user]
	name = Joe Schaefer
	email = jschaefer@cleardemand.com
	signingkey = ~/.ssh/id_ed25519.pub
[clean]
	requireForce = 1
[push]
	default = matching
[github]
	user = joesuf4
[log]
        showSignature = true
[pull]
	rebase = true
[commit]
	gpgsign = true
[http]
        sslCAinfo = /etc/certs/ca-certificates.crt
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed-signers
