*~
.CFUserTextEncoding
.DCOP*
.DS_Store
.ICEauthority
.MCOP-random-seed
.Trash
.VirtualBox/
.Xauthority
.acrobat/
.adobe/
.alsaplayer/
.angular-config.json
.ansible/
.apache-test/
.aptitude/
.asdf/
.authinfo
.aws
.azure
.bash_history
.bash_profile
.bashrc
.bbdb
.bcsrc
.bluefish/
.cache/
.chess-save
.ckl
.cloud-locale-test.skip
.config/GIMP/
.config/gtk-2.0/
.config/NuGet
.config/configstore
.config/k9s/
.config/op
.config/pagerduty-cli/
.config/tabtab
.config/wslu
.cpan/
.cups/
.cvspass
.cvsrc
.dbus*
.dia/
.dmrc
.docker/
.dotnet/
.dropbox
.dropbox-master
.emacs.d/
.esd_auth
.evolution/
.fetchmailrc
.fontconfig/
.fonts/
.forward
.gaimrc
.gconf/
.gconfd/
.gimp-*/
.gitk
.git-credentials
.gksu.lock
.gnome/
.gnome2/
.gnupg-backup/
.gnupg/
.gnus.el
.gstreamer-*/
.gtik.conf
.gtklp/
.gtkrc*
.h2cookie
.history
.kde/
.kderc
.k9s/
.kheaders-*
.krew/
.kube/
.landscape/
.lesshst
.lib/
.local/
.lpoptions
.lsof*
.mail*
.mcop*
.metacity/
.mime.types
.motd_shown
.mozilla*/
.mysql_history
.myzshrc
.nautilus/
.netrc
.newsrc*
.node_repl_history
.npm/
.nnmail-cache
.nuget/
.oci/
.openoffice.org2/
.oracle*/
.pinerc
.plan
.plugin141_02.trace
.projects.ede
.pylint.d/
.python_history
.qmail*
.qt/
.rc-persist/
.recently-used
.recently-used.xbel
.rhn-applet*
.rnd
.semantic*
.serverauth.*
.serverless*
.signature
.sqlite_history
.ssh/
.subversion/
.sudo_as_admin_successful
.sunw/
.sversionrc
.tarsnap.key
.terraform.d/
.thumbnails/
.tool-versions
.user60.rdb
.viminfo
.vnc/
.vscode/
.w3m/
.wireshark/
.wmrc
.wsl/
.xchat2/
.xine/
.xmms/
.xscreensaver
.xsession-errors
.xvpics/
.zcompdump
.zplug/
.zsh/
.zsh_history
3D\ Objects/
ACLI/
AppData/
Applications/
Application\ Data
Contacts/
Cookies
Desktop/
Documents/
Downloads/
Dropbox/
Favorites/
Google Drive/
Intel*/
Library/
Links/
Local\ Settings
Mail/
Movies/
Music/
My\ Documents
NTUSER*
NetHood
News/
OneDrive*/
Pictures/
PLAN.md
PrintHood
Public/
Recent
Saved\ Games/
Searches/
SendTo
Start\ Menu
Templates
TODO
Videos/
VirtualBox VMs/
\#*
audio/
bin/OmniSharp
bin/emacs*
bin/isatty
bin/ttyname
bin/nproc
bin/op
bin/oci
bin/pty*
bin/publish*
bin/script.sh
build/
console.out
crons/
dead.letter
emacs-*/
lib/
libexec/
mail/
node_modules/
ntuser*
package-lock.json
perl5-*/
private/
public_html/
share/
specs/
src
tmp/
zeus/
.npmrc
bin/echo*
.zulu*
.softwareupdate
*.pem
.dt*
.tarsnap-cache/
t/
.asy/
.wget-hsts
op.sig
.cargo
.rustup
snap/
perl/
.cookie
.config/go/
.config/gcloud/
