*~
.DCOP*
.ICEauthority
.MCOP-random-seed
.VirtualBox/
.Xauthority
.acrobat/
.adobe/
.alsaplayer/
.apache-test/
.aptitude/
.authinfo
.bash_history
.bash_profile
.bashrc
.bbdb
.bluefish/
.chess-save
.config/
.cpan/
.cups/
.cvspass
.cvsrc
.designerrctb2
.dia/
.dbus/
.dmrc
.ecb-tip-of-day.el
.emacs.d/
.esd_auth
.evolution/
.fetchmailrc
.fontconfig/
.fonts/
.forward
.fvwm/.FvwmConsole-History
.gaimrc
.gconf/
.gconfd/
.gimp-1.2.orig/
.gimp-2.0/
.gimp-2.2/
.gitk
.gksu.lock
.gnome/
.gnome2/
.gnupg-backup/
.gnupg/
.gnus.el
.gstreamer-0.10/
.gstreamer-0.8/
.gtik.conf
.gtklp/
.gtkrc
.gtkrc-1.2-gnome2
.gtkrc-kde
.history
.kde/
.kderc
.lesshst
.local/
.lpoptions
.lsof*
.mailcap
.mailrc
.mailrc~
.mcop/
.mcoprc
.metacity/
.mime.types
.mozilla/
.mozilla-linux/
.mysql_history
.nautilus/
.netrc
.newsrc
.newsrc.eld
.nnmail-cache
.openoffice.org2/
.plan
.plugin141_02.trace
.profile
.projects.ede
.qmail*
.qt/
.recently-used
.recently-used.xbel
.rhn-applet.cache
.rhn-applet.conf
.rnd
.semantic-cache/
.semanticdb/
.serverauth.*
.signature
.sqlite_history
.ssh-old/
.ssh/
.subversion/
.sversionrc
.thumbnails/
.user60.rdb
.viminfo
.wireshark/
.w3m/
.wmrc
.xchat2/
.xine/
.xmms/
.xscreensaver
.xsession-errors
.xvpics/
.zcompdump
.zsh_history
Desktop/
Mail/
News/
*.doc
SyntaxHighlighter.css
TODO
agreement.txt
agreement.txt.asc
agreement.txt~
audio/
bin/
build/
cigars
console.out
contract
contract.asc
contract.mime
crons/
dead.letter
favicon.ico
fintrx.dat
foo.iso
game.log
howard
httpd/
java/
kde3/
ldapv3_slides.pdf
lib/
libexec/
perl/
public_html/
private/
resume
scott
screenshot-*
share/
specs/
src/
star.gif
sunstar_logo.png
sunstar_logo.xcf
sunstar_logo_16x16.png
sunstar_logo_256x256.png
sunstar_logo_32x32.png
tmp/
VirtualBox VMs/
