[user]
	name = Joseph Schaefer
	email = joe@sunstarsys.com
	signingkey = /x1/home/joe/.ssh/id_ed25519.pub
[clean]
	requireForce = 1
[push]
	default = matching
[github]
	user = joesuf4
[pull]
	rebase = true
[commit]
	gpgsign = true
#	gpgsign = true
[http]
        sslCAinfo = /etc/certs/ca-certificates.crt
[gpg]
	format = ssh
