[user]
	name = Joseph Schaefer
	email = joe@sunstarsys.com
	signingkey = 4020EC2ED601D519
[clean]
	requireForce = 1
[push]
	default = matching
[github]
	user = joesuf4
[pull]
	rebase = true
[commit]
#	gpgsign = true
[http]
        sslCAinfo = /etc/certs/ca-certificates.crt
