%backup%~
.DCOP*
.ICEauthority
.MCOP-random-seed
.Xauthority
.acrobat/
.adobe/
.alsaplayer/
.apache-test/
.aptitude/
.authinfo
.authinfo~
.bash_history
.bash_profile
.bash_profile~
.bashrc
.bashrc~
.bbdb
.bluefish/
.chess-save
.chess-save~
.config/
.cpan/
.cvspass
.cvsrc
.cvsrc~
.designerrctb2
.dia/
.dmrc
.ecb-tip-of-day.el
.emacs.d/
.emacs~
.esd_auth
.evolution/
.fetchmailrc
.fetchmailrc~
.fontconfig/
.fonts/
.fvwm/
.gaimrc
.gconf/
.gconfd/
.gimp-1.2.orig/
.gimp-2.0/
.gimp-2.2/
.gitk
.gksu.lock
.gnome/
.gnome2/
.gnupg-backup/
.gnupg/
.gnus.el
.gnus.el~
.gstreamer-0.10/
.gstreamer-0.8/
.gtik.conf
.gtklp/
.gtkrc
.gtkrc-1.2-gnome2
.gtkrc-kde
.history
.kde/
.kderc
.lesshst
.local/
.lpoptions
.mailcap
.mailrc
.mailrc~
.manpath
.mcop/
.mcoprc
.metacity/
.mime.types
.mozilla/
.mysql_history
.nautilus/
.netrc
.newsrc
.newsrc-dribble~
.newsrc.eld
.newsrc.eld~
.newsrc~
.nnmail-cache
.openoffice.org2/
.plan
.plan~
.plugin141_02.trace
.profile
.projects.ede
.qt/
.recently-used
.recently-used.xbel
.rhn-applet.cache
.rhn-applet.conf
.rnd
.semantic-cache/
.semanticdb/
.serverauth.*
.signature
.signature~
.ssh-old/
.ssh/
.subversion/
.sversionrc
.thumbnails/
.user60.rdb
.viminfo
.w3m/
.wmrc
.xchat2/
.xine/
.xmms/
.xscreensaver
.xsession
.xsession-errors
.xvpics/
.zcompdump
.zsh_history
Desktop/
Fear_in_the_Eyes-gr_7-12.doc
Mail/
News/
Nurturing_Tolerance.doc
OOo_2.0.0_LinuxIntel_install.tar.gz
SyntaxHighlighter.css
TODO
agreement.txt
agreement.txt.asc
agreement.txt~
audio/
bin/
build/
cigars
cigars~
console.out
contract
contract.asc
contract.mime
dead.letter
favicon.ico
fintrx.dat
game.log
howard
httpd/
java/
kde3/
ldapv3_slides.pdf
lib/
libexec/
perl/
public_html/
resume
share/
specs/
src/
star.gif
sunstar_logo.png
sunstar_logo.xcf
sunstar_logo_16x16.png
sunstar_logo_256x256.png
sunstar_logo_32x32.png
tmp/
