Emacs*Scrollbar.shadowWidth:    1
Emacs*Scrollbar.borderWidth:    0
Emacs.scrollBarWidth:   10
Emacs*scroll-bar*attributeBackground: skyblue
Emacs.mode-line.attributeBackground: steelblue
Emacs.mode-line.attributeForeground: white
Emacs.background:   whitesmoke
Emacs.foreground:   black

XBoard*boardSize:    Small

XTerm*background:    lightslategray
XTerm*foreground:    white
XTerm*cursorColor:   black
XTerm*utf8:          1
XTerm*faceName:      DejaVuSansMono
XTerm*faceSize:      10
